@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,400;0,9..144,700;0,9..144,900;1,9..144,100;1,9..144,400;1,9..144,700;1,9..144,900&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Fraunces', serif;
}

.landing{
    background-color: #1F2937;
}

.navbar,.eachLink{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    background-color: #282d34;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navImage{
    flex: 1;
    padding-left: 40px;
}

.navImage > img{
    border-radius: 30px;
    float: left;
}

.navLinks{
    flex: 1;
}

.navLink{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-right: 20px;
    flex: auto;
}

.mainLanding{
    margin-top: 50px;
    background-color: #1F2937;
    display: flex;
    padding-bottom: 50px;

    justify-items: center;
    align-items: center;
}

.title{
    flex: 1;
    text-align: center;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
}

.title > p{
    color:whitesmoke;
    line-height: 2;
}

.button{
    font-family: 'Fraunces', serif;
    background-color: antiquewhite;
    padding: 10px 20px  10px 20px;
    border-radius: 10px;
    border-style: none;
}

.landingImage{
    flex: 1;
    margin: 50px;
}

.landingImage >img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 40px;
    max-width: 305px;
    max-height: 350px;
}

.Attraction{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 20px;
}

.item{
    flex:1;
    color: black;
}

.quote{
   margin-top: 40px;
   margin-bottom: 40px;
   background-color:#1F2937;
   text-align: center;
   padding: 40px;
}

.quote > blockquote{
    font-style: italic;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.quote > p{
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.signUp{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    /*background-color: rgb(193, 177, 153);*/
    background-color: rgb(16, 30, 101);
    border-radius: 10px;
}

.signUpText,.signUpButton{
    flex: 1;
    padding: 30px;
    color: white;
}

.signUpButton > button{
    padding: 10px 20px  10px 20px;
    border-radius: 10px;
    border-style: none;
    background-color: white;
    font-family: 'Fraunces', serif;
}

.footer{
    background-color:#1F2937;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    color: white;
}

@media (max-width: 800px) {
    .Attraction,.mainLanding,.signUp {
      flex-direction: column;
    }
  }

